<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
</head>

<body>
    <h1>Hello, <%=username%>! Edit your profile</h1>
        <br>
        <% if (profileType === "UserDidntChoose") { %>
    <form id="chooseType" method="POST" action="/edituser/chooseType">
            <input type="radio" id="player" name="userType" value="Player" required>
            <label for="player">Player</label><br>
            <input type="radio" id="club" name="userType" value="Club" required>
            <label for="club">Club</label><br>
            <button type="submit">Submit</button>
        </form>
    <!-- Form now uses POST method; JS redirect removed -->

        <% } else { %>

        <form id="eraseType" method="POST" action="/edituser/eraseType">
                <button type="button" onclick="if(confirm('Are you sure you want to erase your profile and choose your type again?')) 
                { document.getElementById('eraseType').submit(); }">eraseProfile</button>
        </form>
        <% } %>
    </script>
        
        <pre><%= JSON.stringify(user, null, 2)%></pre>
        <pre><%= JSON.stringify(session, null, 2)%></pre>
        <pre><%= JSON.stringify(oidcWhole, null, 2)%></pre>
        <pre><%= JSON.stringify(tokenInfo, null, 2)%></pre>
        <p>sad se pravi profil</p>
</body>