<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="/styles/edituser.css">
    <script src="/scripts/visualizeImage.js" defer></script>
</head>

<body>

    <div class="BackgroundTop">
        <h1>Hello, editing <%=usernameOfEditedUser%> profile</h1>
    </div>

    <div class="SettingsMenu">
        <br>
        <% if (profileType === "UserDidntChoose") { %>
        
        <form id="chooseType" method="POST" action="/edituser/chooseType">
            <div class="profileTypeOptions">
                <input type="radio" id="player" name="userType" value="Player" required> 
                <label for="player">Player</label>
                <br>
                <input type="radio" id="club" name="userType" value="Club" required>
                <label for="club">Club</label>
            </div>
            <div class="profileTypeConfirm">
                <button type="submit">Potvrdi odabir</button>
            </div>
        </form>
    <!-- Form now uses POST method; JS redirect removed -->

        <% } else { %>

        <!-- actual form for editing info--> 
        <%if(profileTypeOfEditedUser === "Player"){%>
        <form id="playerInfo" method="POST" action="<%=usernameOfEditedUser%>/insertPlayerInfo">
            <label for="brojMob">Broj mobitela:</label>
            <input type="text" id="brojMob" min="0" name="brojMob" value=<%=userInfo.brojMob%>><br><br>
            <label for="prefVrijeme">Preferirano vrijeme:</label>
            <input type="date" id="prefVrijeme" name="prefVrijeme" value=<%=userInfo.prefVrijeme%>><br><br>
            <label for="razZnanjaPadel">Razina znanja padela:</label>
            <div class="radioGroup">
                <input type="radio" id="pro" name="razZnanjaPadel" value="pro" <%= userInfo.razZnanjaPadel === "pro" ? "checked" : "" %>>
                <label for="pro">Pro</label><br>
                <input type="radio" id="intermediate" name="razZnanjaPadel" value="intermediate" <%= userInfo.razZnanjaPadel === "intermediate" ? "checked" : "" %>>
                <label for="intermediate">Intermediate</label><br>
                <input type="radio" id="beginner" name="razZnanjaPadel" value="beginner" <%= userInfo.razZnanjaPadel === "beginner" ? "checked" : "" %>>
                <label for="beginner">Beginner</label><br>
            </div>
            <label for="prezimeIgrac">Prezime:</label>
            <input type="text" id="prezimeIgrac" name="prezimeIgrac" value=<%=userInfo.prezimeIgrac%>><br><br>
            <label for="imeIgrac">Ime:</label>
            <input type="text" id="imeIgrac" name="imeIgrac" value=<%=userInfo.imeIgrac%>><br><br>
            <button type="submit">Spremi postavke</button>
        </form>
        <form id="eraseType" method="POST" action="/edituser/eraseType">
                <button type="button" class="eraseProfileButton" onclick="if(confirm('Are you sure you want to erase your profile and choose your type again?')) 
                { document.getElementById('eraseType').submit(); }">Izbriši profil</button>
        </form>
        <%}else if(profileTypeOfEditedUser === "Club"){%>
            <form id="clubInfo" method="POST" enctype="multipart/form-data">
                <label for="svlacionice">Broj svlacionica:</label>
                <input type="number" id="svlacionice" name="svlacionice" min="0" value=<%=userInfo.svlacionice%>><br><br>
                <label for="imeKlub">Ime kluba:</label>
                <input type="text" id="imeKlub" name="imeKlub" value=<%=userInfo.imeKlub%>><br><br>
                <label for="najamReketa">Najam reketa:</label>
                <input type="number" id="najamReketa" name="najamReketa" min="0" value=<%=userInfo.najamReketa%>><br><br>
                <label for="pravilaKlub">Pravila kluba:</label>
                <textarea id="pravilaKlub" name="pravilaKlub" rows="12" cols="40"><%=userInfo.pravilaKlub%></textarea><br><br>
                <label for="klubRadiDo">Do kada klub radi:</label>
                <input type="date" id="klubRadiDo" name="klubRadiDo" value=<%=userInfo.klubRadiDo%>><br><br>
                <label for="klubRadiOd">Od kada klub radi:</label>
                <input type="date" id="klubRadiOd" name="klubRadiOd" value=<%=userInfo.klubRadiOd%>><br><br>
                <label for="tusevi">Koliko tuševa imate:</label>
                <input type="number" id="tusevi" min = "0" name="tusevi" value=<%=userInfo.tusevi%>><br><br>
                <label for="adresaKlub">Adresa kluba:</label>
                <input type="text" id="adresaKlub" name="adresaKlub" value=<%=userInfo.adresaKlub%>><br><br>
                <label for="prostorZaOdmor">Prostor za odmor:</label>
                <input type="number" id="prostorZaOdmor" min="0" name="prostorZaOdmor" value=<%=userInfo.prostorZaOdmor%>><br><br>
                <label for="opisKluba">opis Kluba:</label>
                <textarea id="opisKluba" name="opisKluba" rows="12" cols="40"><%=userInfo.opisKluba%></textarea><br><br>
                <label for="slike">Slike:</label>
                <input type="file" id="slike" name="slike" multiple accept="image/jbeg"><br><br>
                <div id="photosContainer" data-club-photos='<%-JSON.stringify(clubPhotos)%>'></div>
                <button type="submit">Spremi postavke</button>
            </form>

        <form id="eraseType" method="POST" action="/edituser/eraseType">
                <button type="button" class="eraseProfileButton" onclick="if(confirm('Are you sure you want to erase your profile and choose your type again?')) 
                { document.getElementById('eraseType').submit(); }">Izbriši profil</button>
        </form>

        <%}}%>
    </div>
    <div class="BottomSpace"></div>
</body>