<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/handleres.css">
        <title>Cash reservations</title>
    </head>
    <body>
        <%if(typeof rezervacije !== 'undefined' && rezervacije.length > 0) {%>
            <p>Cash reservations that have not yet been confirmed for your club:</p>
            <%rezervacije.forEach(rezervacija => {%>
                <div class="unpaidRes">
                    <p>Player who made the reservation: <%= rezervacija.username %></p>
                    <p>Reservation date: <%= rezervacija.datumRez %> from <%= rezervacija.vrijemePocetak %> to <%= rezervacija.vrijemeKraj %></p>
                    <p>Your field that was reserved: ID <%= rezervacija.terenID%>, name <%= rezervacija.imeTeren %></p>
                    <p>Amount: <%= rezervacija.iznos %></p>
                    <a href="/reservationHandle/confirmReservation/<%= rezervacija.rezervacijaID %>" onclick="window.location.reload()">Confirm reservation</a>
                    <a href="/reservationHandle/rejectReservation/<%= rezervacija.rezervacijaID %>" onclick="window.location.reload()">Reject reservation</a>
                </div>
            <%})%>
        <%} else {%>
            <p>Your club currently has no cash-paid reservation requests</p>
        <%}%>
    </body>
</html>