<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet"  href="/styles/myprofile.css">
                <script src="/scripts/socket.js" defer></script>
                <script src="/socket.io/socket.io.js"></script>
                <script src="/scripts/myprofile.js" defer></script>
                <title>My profile</title>
        </head>
        <body>

                <div class="BackgroundTop">
                        <div class="BackgroundTopInner">
                                <h1>Hello, <%=user.nickname%></h1>
                                <div class="HeaderButtonsWrapper">
                                        <%- include("./partials/header") %>
                                </div>
                        </div>
                </div>

                <div class="Content">

                        <div class="buttonContainer">
                                <a href="/edituser/<%=user.nickname%>"><button>Edit profile</button></a>
                                <button onclick="location.href='/user/<%=user.nickname%>'">Go to your public profile</button>
                                <button onclick="location.href='/home'">← Back Home</button>
                        </div>

                        <h2>Your profile information:</h2>
                        <%if(profileType === "Player"){%>
                                <div class="userInfo">

                                        <div class="userInfoItemName">Username</div>
                                        <div class="userInfoItem"><%= userInfo["username"] %></div>
                                        <br>

                                        <div class="userInfoItemName">First Name</div>
                                        <div class="userInfoItem"><%= userInfo["imeIgrac"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Last Name</div>
                                        <div class="userInfoItem"><%= userInfo["prezimeIgrac"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Phone Number</div>
                                        <div class="userInfoItem"><%= userInfo["brojMob"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Skill Level</div>
                                        <div class="userInfoItem"><%= userInfo["razZnanjaPadel"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Preferred Training Time</div>
                                        <div class="userInfoItem"><%= userInfo["prefVrijeme"] %></div>
                                        <br>

                                </div>
                                
                                <% if( userInfo.oldRes && userInfo.oldRes.length > 0 ) { %>

                                        <ul class="reservations">
                                                <% userInfo.oldRes.forEach(function(old) { %>
                                                        <li class="reservationCard">
                                                        <ul>
                                                                <li><strong>Date:</strong> <%= old.datumRez %></li>
                                                                <li><strong>Terrain:</strong> <%= old.imeTeren %></li>
                                                                <li><strong>Start:</strong> <%= old.vrijemePocetak %></li>
                                                                <li><strong>End:</strong> <%= old.vrijemeKraj %></li>
                                                                <li><strong>User:</strong> <%= old.username %></li>
                                                        </ul>
                                                        </li>
                                                <% }); %>
                                        </ul>

                                <% } else { %>
                                        <div class="emptyState">
                                                <h3>No past reservations</h3>
                                                <p>All your completed reservations will be displayed here.</p>
                                        </div>
                                <% } %>

                                <% if (userInfo.newRes && userInfo.newRes.length > 0) { %>

                                        <ul class="reservations">
                                                <% userInfo.newRes.forEach(function(newr) { %>
                                                        <li class="reservationCard">
                                                        <ul>
                                                                <li><strong>Date:</strong> <%= newr.datumRez %></li>
                                                                <li><strong>Terrain:</strong> <%= newr.imeTeren %></li>
                                                                <li><strong>Time:</strong> <%= newr.vrijemePocetak %> – <%= newr.vrijemeKraj %></li>
                                                                <li><strong>Club:</strong> <%= newr.username %></li>
                                                        </ul>
                                                        <%if(date < newr.datumRez) {%>
                                                        <a href="/terrain/cancel/<%= newr.rezervacijaID %>">Cancel reservation</a>
                                                        <%} else {%>
                                                                <p>Reservations can only be canceled the day before</p>
                                                        <%}%>
                                                        </li>
                                                <% }); %>
                                        </ul>

                                <% } else { %>
                                        <div class="emptyState">
                                                <h3>No upcoming reservations</h3>
                                                <p>You currently have no upcoming reservations.</p>
                                                <button onclick="location.href='/terrain_search'">
                                                        Book a Terrain
                                                </button>
                                        </div>
                                <% } %>
                                <% if (userInfo.pretplate && userInfo.pretplate.length > 0) {%>
                                        <ul class="pretplate">
                                        <%userInfo.pretplate.forEach(function(pretplata) {%>
                                                <li class="pretplateCard">
                                                <ul>
                                                        <li><strong>Subscription Name: </strong><%= pretplata.pretpNaziv%></li>
                                                        <li><strong>Subscription Paid Until: </strong><%=pretplata.pretpPlacenaDo%></li>
                                                        <li><strong>Subscription Price:</strong><%=pretplata.pretpCijena%></li>
                                                </ul>
                                                </li>
                                                <a href="/reservationHandle/cancelSub/<%=pretplata.pretpID%>">Cancel Subscription</a>
                                        <%})%>
                                        </ul>
                                <%} else {%>
                                        <div class="emptyState">
                                                <h3>No Active Subscriptions</h3>
                                                <p>Subscriptions allow faster and cheaper bookings.</p>
                                        </div>
                                <%}%>

                                


                        <%}else if(profileType === "Club"){%>
                                <div class="userInfo">

                                        <div class="userInfoItemName">Username</div>
                                        <div class="userInfoItem"><%= userInfo["username"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Club Name</div>
                                        <div class="userInfoItem"><%= userInfo["imeKlub"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Club Address</div>
                                        <div class="userInfoItem"><%= userInfo["adresaKlub"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Opening Hours Start</div>
                                        <div class="userInfoItem"><%= userInfo["klubRadiOd"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Opening Hours End</div>
                                        <div class="userInfoItem"><%= userInfo["klubRadiDo"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Club Description</div>
                                        <div class="userInfoItem"><%= userInfo["opisKluba"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Club Rules</div>
                                        <div class="userInfoItem"><%= userInfo["pravilaKlub"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Racket Rental</div>
                                        <div class="userInfoItem"><%= userInfo["najamReketa"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Number of Locker Rooms</div>
                                        <div class="userInfoItem"><%= userInfo["svlacionice"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Number of Showers</div>
                                        <div class="userInfoItem"><%= userInfo["tusevi"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Number of Rest Areas</div>
                                        <div class="userInfoItem"><%= userInfo["prostorZaOdmor"] %></div>
                                        <br>

                                </div>

                                <div>
                                <h2>Your terrains:</h2>
                                <% if( userInfo.terrains && userInfo.terrains.length > 0 ) { %>
                                        <div class="terrainGrid">
                                                <% userInfo.terrains.forEach(function(teren) { %>
                                                        <div class="terrainCard">
                                                                <span class="terrainName"><%= teren.imeTeren %></span>
                                                                <p>ID: <%= teren.terenID %></p>
                                                                <div class="terrainButtons">
                                                                <button onclick="location.href='/terrain/<%= teren.terenID %>'">Go to terrain page</button>
                                                                <button onclick="location.href='/editterrain/<%=user.nickname%>/<%= teren.terenID %>'">Edit terrain</button>
                                                                <button onclick="location.href='/editschedule/<%=user.nickname%>/<%= teren.terenID %>'">Edit schedule</button>
                                                                <button onclick="location.href='/editterrain/<%=user.nickname%>/<%= teren.terenID %>/delete'">Delete terrain</button>
                                                                </div>
                                                        </div>
                                                <% }); %>
                                        </div>
                                <% } else { %>
                                        <div class="emptyState">
                                                <h3>No terrains added</h3>
                                                <p>All the terrains managed by your club will be displayed here.</p>
                                                <button onclick="location.href='/editterrain/<%=user.nickname%>/newTerrain'">Add New Terrain</button>
                                        </div>
                                <% } %>
                                </div>

                                <div class="clubActions">
                                        <%if(userInfo.stripeId){%>
                                                <button onclick="location.href='/stripeClub'">Edit Stripe Account</button>
                                                <%if(userInfo.paymentsEnabled){%>
                                                        <p>plaćanje je omogućeno</p>
                                                <%}else{%>
                                                        <p>plaćane nije mogomućeno. dopunite podatke na stripe računu</p>
                                                <%}%>
                                                <button class="deleteStripe">Delete Stripe Acc</button>
                                        <%}else{%>
                                                <button onclick="location.href='/stripeClub'">Create Stripe Account</button>
                                        <%}%>
                                        <button onclick="location.href='/editschedule/addSub'">Add a Subscription Model</button>
                                        <button onclick="location.href='/myprofile/handleReservations'">Manage your incoming cash reservation requests</button>
                                </div>


                        <%}%>


                </div>
        </body>
</html>