<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet"  href="/styles/myprofile.css">
                <script src="/scripts/socket.js" defer></script>
                <script src="/socket.io/socket.io.js"></script>
                <title>Moj profil</title>
        </head>
        <body>

                <div class="BackgroundTop">
                        <h1>Hello, <%=user.nickname%></h1>
                </div>

                <div class="Content">

                        <div class="buttonContainer">
                                <a href="/edituser/<%=user.nickname%>"><button>Edit profile</button></a>
                                <button onclick="location.href='/user/<%=user.nickname%>'">Go to your public profile</button>
                                <button onclick="location.href='/home'">← Back Home</button>
                        </div>

                        <h2>Your profile information:</h2>
                        <%if(profileType === "Player"){%>
                                <div class="userInfo">

                                        <div class="userInfoItemName">Korisničko ime</div>
                                        <div class="userInfoItem"><%= userInfo["username"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Ime</div>
                                        <div class="userInfoItem"><%= userInfo["imeIgrac"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Prezime</div>
                                        <div class="userInfoItem"><%= userInfo["prezimeIgrac"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Broj mobitela</div>
                                        <div class="userInfoItem"><%= userInfo["brojMob"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Razina znanja</div>
                                        <div class="userInfoItem"><%= userInfo["razZnanjaPadel"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Preferirano vrijeme treniranja</div>
                                        <div class="userInfoItem"><%= userInfo["prefVrijeme"] %></div>
                                        <br>

                                </div>
                                
                                <% if( userInfo.oldRes && userInfo.oldRes.length > 0 ) { %>

                                        <ul class="reservations">
                                                <% userInfo.oldRes.forEach(function(old) { %>
                                                        <li class="reservationCard">
                                                        <ul>
                                                                <li><strong>Datum:</strong> <%= old.datumRez %></li>
                                                                <li><strong>Teren:</strong> <%= old.imeTeren %></li>
                                                                <li><strong>Početak:</strong> <%= old.vrijemePocetak %></li>
                                                                <li><strong>Kraj:</strong> <%= old.vrijemeKraj %></li>
                                                                <li><strong>Korisnik:</strong> <%= old.username %></li>
                                                        </ul>
                                                        </li>
                                                <% }); %>
                                        </ul>

                                <% } else { %>
                                        <p>nema stari rez.</p>
                                <% } %>

                                <% if (userInfo.newRes && userInfo.newRes.length > 0) { %>

                                        <ul class="reservations">
                                                <% userInfo.newRes.forEach(function(newr) { %>
                                                        <li class="reservationCard">
                                                        <ul>
                                                                <li><strong>Datum:</strong> <%= newr.datumRez %></li>
                                                                <li><strong>Teren:</strong> <%= newr.imeTeren %></li>
                                                                <li><strong>Početak:</strong> <%= newr.vrijemePocetak %></li>
                                                                <li><strong>Kraj:</strong> <%= newr.vrijemeKraj %></li>
                                                                <li><strong>Korisnik:</strong> <%= newr.username %></li>
                                                        </ul>
                                                        <%if(date < newr.datumRez) {%>
                                                        <a href="/terrain/cancel/<%= newr.rezervacijaID %>">cancel rez</a>
                                                        <%} else {%>
                                                                <p>rezervacije se najkasnije mogu otkazati dan prije</p>
                                                        <%}%>
                                                        </li>
                                                <% }); %>
                                        </ul>

                                <% } else { %>
                                        <p>nema novi rez.</p>
                                <% } %>
                                <% if (userInfo.pretplate && userInfo.pretplate.length > 0) {%>
                                        <ul class="pretplate">
                                        <%userInfo.pretplate.forEach(function(pretplata) {%>
                                                <li class="pretplateCard">
                                                <ul>
                                                        <li><strong>Naziv pretplate: </strong><%= pretplata.pretpNaziv%></li>
                                                        <li><strong>Pretplata plaćena do: </strong><%=pretplata.pretpPlacenaDo%></li>
                                                        <li><strong>Cijena pretplate:</strong><%=pretplata.pretpCijena%></li>
                                                </ul>
                                                </li>
                                                <a href="/reservationHandle/cancelSub/<%=pretplata.pretpID%>">otkazi pretplatu</a>
                                        <%})%>
                                        </ul>
                                <%} else {%>
                                        <p>nemate aktivnih pretplata trenutno</p>
                                <%}%>

                                


                        <%}else if(profileType === "Club"){%>
                                <div class="userInfo">

                                        <div class="userInfoItemName">Korisničko ime</div>
                                        <div class="userInfoItem"><%= userInfo["username"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Ime kluba</div>
                                        <div class="userInfoItem"><%= userInfo["imeKlub"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Adresa kluba</div>
                                        <div class="userInfoItem"><%= userInfo["adresaKlub"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Početak radnog vremena</div>
                                        <div class="userInfoItem"><%= userInfo["klubRadiOd"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Kraj radnog vremena</div>
                                        <div class="userInfoItem"><%= userInfo["klubRadiDo"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Opis kluba</div>
                                        <div class="userInfoItem"><%= userInfo["opisKluba"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Pravila kluba</div>
                                        <div class="userInfoItem"><%= userInfo["pravilaKlub"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Najam reketa</div>
                                        <div class="userInfoItem"><%= userInfo["najamReketa"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Broj svlačionica</div>
                                        <div class="userInfoItem"><%= userInfo["svlacionice"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Broj tuševa</div>
                                        <div class="userInfoItem"><%= userInfo["tusevi"] %></div>
                                        <br>

                                        <div class="userInfoItemName">Broj prostora za odmor</div>
                                        <div class="userInfoItem"><%= userInfo["prostorZaOdmor"] %></div>
                                        <br>

                                </div>

                                <div>
                                <h2>Your terrains:</h2>
                                <% if( userInfo.terrains && userInfo.terrains.length > 0 ) { %>
                                        <ul>
                                        <% userInfo.terrains.forEach(function(teren) { %>
                                                <li>
                                                        <span><%= teren.imeTeren %></span>
                                                        <p>ID: <%= teren.terenID %></p>
                                                        <button onclick="location.href='/terrain/<%= teren.terenID %>'">Go to terrain page</button>
                                                        <button onclick="location.href='/editterrain/<%=user.nickname%>/<%= teren.terenID %>'">Edit terrain</button>
                                                        <button onclick="location.href='/editschedule/<%=user.nickname%>/<%= teren.terenID %>'">Edit schedule</button>
                                                        <button onclick="location.href='/editterrain/<%=user.nickname%>/<%= teren.terenID %>/delete'">Delete terrain</button>
                                                </li>
                                        <% }); %>
                                        </ul>
                                <% } else { %>
                                        <p>You have no terrains added yet.</p>
                                <% } %>
                                <button onclick="location.href='/editterrain/<%=user.nickname%>/newTerrain'">Add New Terrain</button>
                                </div>

                                <a href="/stripeClub">create/edit stripe acc</a>
                                <a href="/editschedule/addSub">add a subscription model</a>

                        <%}%>


                </div>
        </body>
</html>