<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
        <a href="/edituser/<%=user.nickname%>"><button>Edit profile</button></a>

        <%if(profileType === "Player"){%>
                <pre> <%= JSON.stringify(userInfo, null, 2)%></pre>
        <%}else if(profileType === "Club"){%>
                <pre> <%= JSON.stringify(userInfo, null, 2)%></pre>
        <%}%>
        <pre><%= JSON.stringify(user, null, 2)%></pre>
        <pre><%= JSON.stringify(session, null, 2)%></pre>
        <pre><%= JSON.stringify(oidcWhole, null, 2)%></pre>
        <pre><%= JSON.stringify(tokenInfo, null, 2)%></pre>
</body>
</html>