<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <p>This page will show info for a SPECIFIC terrain from the database</p>
        <p>Vlasnik klub terena: <%= teren.username %>, ime terena: <%= teren.imeTeren %></p>
        <p>Tip podloge je <%= teren.tipPodloge %> i teren je <%= teren.vanjskiUnutarnji %></p>
        <p>Cijena terena je <%= teren.cijenaTeren %></p>

        <%if (typeof termini !== 'undefined') {%>
            <%if (termini.length > 0) {%>
                <p>Dostupni termini za ovaj tjedan su:</p>
                <% for(let termin of termini) {%>
                    <form class="formaRezervacije" action="/terrain/<%= termin.terenID %>" method="POST">
                        <p><%= termin.datum %> u <%= termin.vrijemePocetak %> do <%= termin.vrijemeKraj %> sati.</p>
                        <p>Koji tip termina zelite rezervirati?</p>
                        <input type="radio" id="jdn" name="tipTermina" value="jednokratni" required>
                        <label for="jdn">Jednokrantni termin</label>
                        <input type="radio" id="pon" name="tipTermina" value="ponavljajuci">
                        <label for="pon">Ponavljajuci termin</label>
                        <input type="hidden" name="terminID" value=<%= termin.terminID %>>
                        <input type="hidden" name="datum" value=<%= termin.datum %>><br>
                        <input type="hidden" name="klub" value=<%= termin.klub %>>
                        <input type="submit" value="Rerezviraj?">
                    </form>
                <% }%>
            <%} else {%>
                <p>Nema dostupnih termina.</p>
            <%}%>
        <%}%>

        <%if(addComment){%>
            <form action="/terrain/<%= teren.terenID %>/addComment" method="POST">
                <label for="komentar">Dodajte svoj komentar:</label>
                <textarea id="komentar" name="komentar" rows="12" cols="40" placeholder="Napišite komentar"></textarea><br><br>
                <label for="ocjena">Ocjena</label>
                <input type="number" name="ocjena" id="ocjena"><br><br>
                <button type="submit">Objavi komentar</button>
            </form>
        <%}%>
    </body>
</html>