<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/scripts/reservations.js" defer></script>
        <script src="/scripts/commentHandler.js" defer></script>
        <script src="/scripts/socket.js" defer></script>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="/styles/terrain.css">
    </head>

    <body>
        <div class="BackgroundTop">
            <div class="TopHeaderContainer">
                <a href="/terrain_search" class="backButton">← Povratak na pretragu</a>
                <h1>Teren <%= teren.imeTeren %></h1>
            </div>
        </div>

        <div class="Block1">
            <div class="InfoAndMenuContainer">
                <div class="TerrainInfoContainer">

                    <h2>Informacije o terenu:</h2>

                    <div class="TerrainInfoItemName">Vlasnik terena:</div>
                    <div class="TerrainInfoItem"><%= teren.username %></div>
                    <br>
                    
                    <div class="TerrainInfoItemName">Tip podloge:</div>
                    <div class="TerrainInfoItem"><%= teren.tipPodloge %></div>
                    <br>

                    <div class="TerrainInfoItemName">Tip terena:</div>
                    <div class="TerrainInfoItem"><%= teren.vanjskiUnutarnji %></div>
                    <br>

                    <div class="TerrainInfoItemName">Cijena terena:</div>
                    <div class="TerrainInfoItem"><%= teren.cijenaTeren %></div>
                    <br>

                </div>

                <div class="ReservationContainer">

                    <%if (typeof jednokratniTermini !== 'undefined') {%>
                        <%if (jednokratniTermini.length > 0) {%>
                            <p>Jednokratni termini za narednih 5 tjedana:</p>
                            <% for(let termin of jednokratniTermini) {%>
                                <form class="formaRezervacije" enctype="multipart/form-data" method="POST">
                                    <h2><%= termin.datum %> u <%= termin.vrijemePocetak %> do <%= termin.vrijemeKraj %> sati.</h2>
                                    <%if(cardAllowed){%>
                                        <p>Odaberite način plaćanja</p>
                                        <input type="radio" id="gotovina" name="tipPlacanja" value="gotovina" required>
                                        <label for="tipPlacanja">Gotovina</label>
                                        <input type="radio" id="kartica" name="tipPlacanja" value="kartica">
                                        <label for="tipPlacanja">Kartica</label>
                                    <%}else{%>
                                        <p>Ovaj klub podržava samo plaćanje gotovinom</p>
                                    <%}%>
                                    <input type="hidden" name="terminID" value=<%= termin.terminID %>>
                                    <input type="hidden" name="datum" value=<%= termin.datum %>><br>
                                    <input type="hidden" name="klub" value=<%= termin.klub %>>
                                    <div
                                    id="terminInfo"
                                    data-termin='<%- JSON.stringify(termin) %>'
                                    data-teren='<%- JSON.stringify(teren) %>'
                                    data-tip-termina="jednokratni"
                                    ></div>
                                    <button type="button">pokaži u kalendaru</button>
                                    <input type="submit" value="Rerezviraj?">
                                </form>
                            <% }%>
                        <%} else {%>
                            <p>Nema dostupnih termina.</p>
                        <%}%>
                    <%}%>
                    <%if(typeof pretplate !== 'undefined' && cardAllowed) {%>
                        <p>Klub trenutno nudi iduće pretplate za ponavljajuće termine:</p>
                        <%for(let pretplata of pretplate) {%>
                            <form class="formaPretplata" enctype="multipart/form-data" method="post">
                            <p>Pretplata <%=pretplata.pretpNaziv%>, cijene <%=pretplata.pretpCijena%>€ tjedno.</p>
                            <%if(pretplata.poducavanje !== null){%>
                                <p>Ova pretplata nudi podučavanja.</p>
                            <%}%>
                            <p>Termini koji se vežu uz ovu pretplatu su: (0 = nedjelja za dan tjedna)</p>
                            <div class="pretpTermini">
                            <%if (typeof pretplata.termini === 'undefined' || pretplata.termini.length === 0) { %>
                                <p>Trenutno nema dostupnih termina za ovu pretplatu.</p>
                            <% } %>
                            <%if (typeof pretplata.termini !== 'undefined' && pretplata.termini.length > 0) { %>
                                <%for(let termin of pretplata.termini){%>
                                    <p>Danom <%=termin.danTjedan%> u <%=termin.vrijemePocetak%> do <%=termin.vrijemeKraj%></p>
                                <%}%>
                            <%}%>
                            </div>
                            <div id="pretpInfo"
                            data-pretp='<%- JSON.stringify(pretplata) %>'
                            data-tip-termina="ponavljajuci"></div>
                            <input type="submit" value="Rezerviraj?">
                            </form>
                        <%}%>
                    <%} else { %>
                        <p>Ovaj klub trenutno nema dostupnih pretplata za ponavljajuce rezervacije za ovaj teren.</p>
                    <%}%>
                    <%if(addComment){%>
                        <form class="commentForm" action="/terrain/<%= teren.terenID %>/addComment" method="POST">
                            <label for="komentar">Dodajte svoj komentar:</label>
                            <textarea id="komentar" name="komentar" rows="12" cols="40" placeholder="Napišite komentar" required></textarea><br><br>
                            <label for="ocjena">Ocjena</label>
                            <input type="number" name="ocjena" id="ocjena" required><br><br>
                            <button type="submit">Objavi komentar</button>
                        </form>
                    <%}%>
                </div>
            </div>
            <div class="CalendarContainer">
                <i>Ovdje ide kalendar</i>
            </div>
        </div>
    </body>
</html>