<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/user.css">
        <title>User Info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div class="UserInfoContainer">
            <p>This page will show info for a SPECIFIC CLUB OR PLAYER from the database</p>
            <p>Username: <%= user.username %></p>
            <p>Email: <%= user.email %></p>
        </div>

        <div class="TerrainsContainer">
            <% for(let teren of tereni) { %>
                <div class="TerenCard">
                    <p>Teren ime: <%= teren.imeTeren %></p>
                    <button class="terrainButton" onclick="location.href='/terrain/<%= teren.terenID %>'">
                        Go to terrain page
                    </button>
                </div>
            <% } %>
        </div>

        <div class="ReviewsContainer">
            <% for(let recenzija of recenzije) { %>
                <div class="Recenzija">
                    <pre><%= JSON.stringify(recenzija, null, 2) %></pre>
                </div>
            <% } %>
        </div>
        <%if(showBackToMyProfile){%>
            <div class="BackProfileContainer">
            <button class="backButton" onclick="location.href='/myprofile'">← Back to MyProfile</button>
        </div>
        <%}%>

    </body>
</html>